
/* css */
.movable{
  padding-left: 400px;
  padding-right: 400px;
  position: relative;
}
#tasks{
	color: grey;
}
.tasks{
  left:200px;
}
@media (max-width: 1200px)
{
    .vl{
        display: none;
    }
    h5{
      padding-left: 40px;
    }
}
